//  General
$prefixes: ("-webkit-","-moz-", "-o-", "");

//      Font
$font-family: 'Roboto', sans-serif;

$text-color-primary: #6d6d6d;
$text-color-secondary: #868686;
$text-color-tertiary: #a0a0a0;

$title-size: 16px;
$text-size: 14px;

//-----------------------------------------------------------------------//

//      Layout
$separation: 20px;

//-----------------------------------------------------------------------//

//      Header
$header-height: 75px;
